.input{
  opacity: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
}
.filecontent{
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100vh;
}
.filecontent::before{
  background-color: #5678EF;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  content: 'Seleccionar'; /* testo por defecto */
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}